//checkbox-buttons
.checkbox-field {
  margin: 15px 0;

  .checkbox-input {
    appearance: none;
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: 40px;
    background: $white;
    border: 2px solid #333;
    color: #333;
    cursor: pointer;
    margin-right: 15px;
    z-index: 1000;
    color: $dark-grey;
  }

  .checkbox-input:checked {
    color: $primary-blue;
    border: 2px solid $primary-blue;
  }

  .checkbox-input:checked::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 7px;
    width: 24px;
    height: 13px;
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 5px 5px;
    border-top-color: transparent;
    background: transparent;
  }

  .checkbox-input:focus {
    box-shadow: 0px 0px 0px 3px $active-accent;
    transition: box-shadow 0.15s ease-in-out;
    outline: none;
  }

  .checkbox-label {
    font-size: 20px;
    width: 100%;
    margin-bottom: 15px;
  }

  .label-text {
    display: inline-block;
    margin-top: 5px;
    width: calc(100% - 55px);
    color: $dark-grey;
    text-align: left;
  }
}

//radio-buttons

.radio-field.small-font {
  font-size: 16px;

  .label-text {
    margin-top: 18px;
  }
}

.radio-field.medium-font {
  font-size: 20px;

  .label-text {
    margin-top: 15px;
  }
}

.radio-field {
  margin: 15px 0px 15px 0px;
  font-size: 24px;
  color: $dark-grey;

  .radio-style {
    display: block;
    width: 100%;
    padding-bottom: 1.3rem;

    .radio-input {
      appearance: none;
      position: relative;
      top: 8px;
      right: 0;
      bottom: 0;
      left: 0;
      height: 45px;
      width: 45px;
      background: $white;
      border: 2px solid #333;
      color: $white;
      cursor: pointer;
      margin-right: 20px;
      outline: none;
      z-index: 1000;
      vertical-align: top;
    }

    .radio-input:checked {
      border: 2px solid $primary-blue;
    }
    .radio-input:checked::after {
      background: $primary-blue;
      content: "";
      display: block;
      position: relative;
      z-index: 100;
      margin-top: 5px;
      margin-left: 5px;
      width: 31px;
      height: 31px;
      transition: 0.15s ease-in-out;
    }
    .radio-input.radio {
      border-radius: 50%;
    }
    .radio-input.radio::after {
      border-radius: 50%;
    }

    input:focus {
      box-shadow: 0px 0px 0px 3px $active-accent;
      transition: box-shadow 0.15s ease-in-out;
    }
  }
  .label-text {
    display: inline-block;
    margin-top: 10px;
    width: calc(100% - 75px);
    text-align: left;
  }
}

//text-fields
.input-width-2 {
  max-width: 5.4ex;
}

.input-width-4 {
  max-width: 9ex;
}

.text-input {
  label {
    margin: 1rem 0 0.5rem 0;
  }
  input {
    border: 2px solid $dark-grey;
    border-radius: 0;
  }
}

.text-input {
  .form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: $white;
    transition: box-shadow 0.15s ease-in-out;
  }

  .form-control:focus {
    box-shadow: 0px 0px 0px 3px $active-accent;
    transition: box-shadow 0.15s ease-in-out;
    border: 2px solid $dark-grey;
  }
}

//date-input
.date-input {
  .date-input-item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;

    .date-input-label {
      display: block;
      font-size: 16px;
    }
  }
}

.text-input.one-line {
  input {
    width: 250px;
  }
}

//Button styling
.btn-container {
  padding: 25px 0px 10px;
  width: 100%;
}

.btn-container.btn-center {
  text-align: center;
}

.btn.btn-general {
  font-family: $page-font;
  background-color: $primary-blue;
  color: $white;
  border-radius: 4px;
  font-weight: 300;
  padding: 0.5em 1.2em 0.4em;
  line-height: 1.25;
  letter-spacing: 1px;
  border: 1px solid $primary-blue;
  position: relative;
  font-size: 24px;
  box-shadow: $box-shadow-buttons;
}

.btn.btn-general:focus {
  box-shadow: 0px 0px 0px 3px $active-accent;
}

.btn.btn-general.btn-wide {
  width: 100%;
}

.btn.btn-general.btn-invert {
  background-color: $secondary-blue;
  color: $dark-grey;
  border: 1px solid $secondary-blue;
}

.btn.btn-general.btn-inactive {
  background-color: $inactive;
  border-color: $inactive;
  color: $dark-grey;
}

.btn.btn-navigation {
  padding: 0;
  width: 50%;
  height: 100%;
  border-radius: 0;
}

.btn-container.btn-nospace {
  padding: 0;
}

//for options
.option-container {
  margin: 10px 0;
}

.btn.btn-general.btn-options {
  width: 100%;
  color: $inactive;
  border-color: $inactive;
  background-color: $white;
  margin: 10px 0;
}

.btn.btn-general.btn-options:hover {
  color: $primary-blue;
  border-color: $primary-blue;
  background-color: $white;
}

.btn.btn-general.btn-options.btn-selected {
  color: $primary-blue;
  border-color: $primary-blue;
  background-color: $white;
}

.btn.btn-navigation:hover,
.btn.btn-navigation:active,
.btn.btn-navigation:focus {
  background-color: #999;
}

.btn.btn-general:hover {
  color: $white;
}

.btn.btn-general.btn-invert:hover {
  color: $primary-blue;
}

.btn.btn-right-align {
  float: right;
}

.btn.btn-large.centered

//text boxes
.text-box {
  margin: 25px 0 10px;
}

.text-box.text-box-small {
  font-size: 16px;
}

//footer (CURRENTLY TERMINATED)

.footer.camera-footer {
  bottom: 0;
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 80px;
  text-align: center;

  .camera-cancel {
    display: block;
    position: absolute;
    bottom: 30%;
    color: #fff;
    border: none;
    background: none;
  }

  .camera-button {
    border-radius: 50%;
    box-shadow: 0px 0px 0px 4px $white;
    border: 3px solid $dark-grey;
    background-color: $white;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    content: "";
    font-size: 1px;
    color: $white;
  }

  .camera-button:focus {
    outline: none;
  }
}

//Icon links
.icon-link {
  display: inline-block;
  color: #0071a8;
  font-size: 16px;
  padding: 5px 0px 2px 55px;
  background-repeat: no-repeat;
}

.icon-link-container {
  width: 100%;
  padding-bottom: 25px;
}

.icon-link-container:last-child {
  padding-bottom: 10px;
}
