//radio-buttons
.radio-field {
  margin: 15px 0;

  .radio-style {
    height: 45px;
    width: 175px;
    font-size: 20px;

    .radio-input {
      appearance: none;
      position: relative;
      top: 8px;
      right: 0;
      bottom: 0;
      left: 0;
      height: 30px;
      width: 30px;
      background: $white;
      border: 6px solid $white;
      box-shadow: 0px 0px 0px 3px #333;
      color: $white;
      cursor: pointer;
      margin-right: 15px;
      outline: none;
      position: relative;
      z-index: 1000;
    }

    .radio-input:hover {
      background: #333;
    }

    .radio-input:checked {
      background: #333;
    }

    .radio-input:checked::after {
      background: #40e0d0;
      content: "";
      display: block;
      position: relative;
      z-index: 100;
    }
    .radio-input.radio {
      border-radius: 50%;
    }
    .radio-input.radio::after {
      border-radius: 50%;
    }

    input:focus {
      outline: 4px solid $active-accent;
    }
  }
}

.radio-style.block {
  display: block;
}

//text-fields
.text-input {
  label {
    font-size: 20px;
    margin: 1rem 0 0.5rem 0;
  }
  input {
    border: 2px solid #000;
    border-radius: 0;
  }
}

.text-input.one-line {
  input {
    width: 250px;
  }

  .form-control:focus {
    box-shadow: 0px 0px 0px 3px $active-accent;
    border: 2px solid #000;
  }
}

//Button styling
.btn.btn-general {
  background-color: $button-colour;
  color: $white;
  border-radius: 0;
  padding: 0.526315em 0.789473em 0.263157em;
  line-height: 1.25;
  box-shadow: 0 2px 0 #003618;
  border: none;
  position: relative;
  font-size: 16px;
}

.btn.btn-navigation {
  padding: 0;
  width: 50%;
  height: 100%;
  border-radius: 0;
}

.btn.btn-navigation:hover,
.btn.btn-navigation:active,
.btn.btn-navigation:focus {
  background-color: #999;
}

.btn.btn-left-align {
  border-right: 1px solid #888;
}

.btn.btn-right-align {
  float: right;
  border-left: 1px solid #999;
}

//text boxes
.text-box {
  margin: 25px 0 10px;
}

.text-box.text-box-small {
  font-size: 16px;
}
