//checkbox-buttons
.checkbox-field {
  margin: 15px 0;

  .checkbox-input {
    appearance: none;
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: 40px;
    background: $white;
    border: 2px solid #333;
    color: #333;
    cursor: pointer;
    margin-right: 15px;
    z-index: 1000;
  }

  .checkbox-input:checked::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 7px;
    width: 24px;
    height: 13px;
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 5px 5px;
    border-top-color: transparent;
    background: transparent;
  }

  .checkbox-input:focus {
    box-shadow: 0px 0px 0px 3px $active-accent;
    transition: box-shadow 0.15s ease-in-out;
    outline: none;
  }

  .checkbox-label {
    font-size: 20px;
    width: 100%;
    margin-bottom: 15px;
  }

  .label-text {
    display: inline-block;
    margin-top: 5px;
    width: calc(100% - 55px);
  }
}

//radio-buttons
.radio-field {
  margin: 15px 0;

  .radio-style {
    height: 45px;
    width: 175px;
    font-size: 20px;

    .radio-input {
      appearance: none;
      position: relative;
      top: 8px;
      right: 0;
      bottom: 0;
      left: 0;
      height: 35px;
      width: 35px;
      background: $white;
      border: 3px solid #333;
      color: $white;
      cursor: pointer;
      margin-right: 15px;
      outline: none;
      z-index: 1000;
    }

    .radio-input:checked::after {
      background: #333;
      content: "";
      display: block;
      position: relative;
      z-index: 100;
      margin-top: 5px;
      margin-left: 5px;
      width: 19px;
      height: 19px;
      transition: 0.15s ease-in-out;
    }
    .radio-input.radio {
      border-radius: 50%;
    }
    .radio-input.radio::after {
      border-radius: 50%;
    }

    input:focus {
      box-shadow: 0px 0px 0px 3px $active-accent;
      transition: box-shadow 0.15s ease-in-out;
    }
  }
}

.radio-style.block {
  display: block;
}

//text-fields
.input-width-2 {
  max-width: 5.4ex;
}

.input-width-4 {
  max-width: 9ex;
}

.text-input {
  label {
    margin: 1rem 0 0.5rem 0;
  }
  input {
    border: 2px solid #000;
    border-radius: 0;
  }
}

.text-input {
  .form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: $white;
    transition: box-shadow 0.15s ease-in-out;
  }

  .form-control:focus {
    box-shadow: 0px 0px 0px 3px $active-accent;
    transition: box-shadow 0.15s ease-in-out;
    border: 2px solid #000;
  }
}

//date-input
.date-input {
  .date-input-item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;

    .date-input-label {
      display: block;
      font-size: 16px;
    }
  }
}

.text-input.one-line {
  input {
    width: 250px;
  }
}

//Button styling
.btn.btn-general {
  background-color: $button-colour;
  color: $white;
  border-radius: 0;
  padding: 0.6em 1em 0.5em;
  line-height: 1.25;
  box-shadow: 0 2px 0 #003618;
  border: none;
  position: relative;
  font-size: 16px;
}

.btn.btn-navigation {
  padding: 0;
  width: 50%;
  height: 100%;
  border-radius: 0;
}

.btn.btn-navigation:hover,
.btn.btn-navigation:active,
.btn.btn-navigation:focus {
  background-color: #999;
}

.btn.btn-left-align {
  border-right: 1px solid #888;
}

.btn.btn-right-align {
  float: right;
  border-left: 1px solid #999;
}

//text boxes
.text-box {
  margin: 25px 0 10px;
}

.text-box.text-box-small {
  font-size: 16px;
}

//footer

.footer.camera-footer {
  bottom: 0;
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 80px;
  text-align: center;

  .camera-cancel {
    display: block;
    position: absolute;
    bottom: 30%;
    color: #fff;
  }

  .camera-button {
    border-radius: 50%;
    box-shadow: 0px 0px 0px 4px $white;
    border: 3px solid #000;
    background-color: $white;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    content: "";
    font-size: 1px;
    color: $white;
  }

  .camera-button:focus {
    outline: none;
  }
}
