@import "variables.scss";
@import "form-components.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

//Page formatting
.form-wrapper {
  padding: 20px 15px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 768px) {
  /* Mobile phone size */
  body {
    background-color: #fcf7f8;
    text-align: center;
    height: 100vh;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
  }

  .Card {
    box-shadow: $box-shadow-cards;
    border-radius: 20px;
    padding: 15px 30px 20px;
    margin-bottom: 40px;

    .progress-indicator {
      text-align: center;
      color: $light-grey;
      font-size: 16px;
    }

    .birthday {
      font-size: 20px;

      .user-entry {
        .entry-input {
          input {
            width: 100%;
          }
        }
      }
    }
  }

  .card-uploaded {
    box-shadow: $box-shadow-cards;
    border-radius: 5px;
    padding: 18px 22px;
    font-size: 16px;
    margin-bottom: 10px;

    .view-link {
      padding-right: 15px;
      display: inline-block;
      color: $primary-blue;
    }

    .file-name {
      display: inline-block;
    }

    .delete-icon {
      border: none;
      padding: 0;
      background: none;
      float: right;
    }
  }
}

//navbar
.navbar.sticky {
  position: absolute;
  z-index: 1000;
}

.navbar.ontario-header-container {
  background-color: #333;
  width: 100%;
  height: 70px;
  font-size: 18px;
  padding: 15px 15px 10px 15px;

  a.brand {
    color: $white;
    letter-spacing: 1px;
  }

  a.french-toggle {
    color: $white;
    font-weight: 300;
    border-bottom: 3px dotted $light-grey;
  }
}

//footer
.footer {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

//Headers
h1.primary-header {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
}

.semi-bold {
  font-weight: 600;
}

//summary page
.summary-content {
  text-align: center;

  .summary-step {
    padding: 50px 15px 30px;
  }

  .spacer {
    height: 50px;
    border: 2px solid #c4c4c4;
    width: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

h2.sub-header {
  font-size: 20px;
  margin: 20px 0 20px;
  font-weight: 600;
  line-height: 32px;
}

p.caption {
  font-size: 16px;
  color: $font-grey;
}

.minimized-text {
  display: block;
}
//image-styling
.upload-image {
  width: 100%;
}

//icon-links
.icon-link.icon-photo {
  background-image: url("../assets/icon-photo.svg");
  background-size: 38px;
}

.icon-link.icon-folder {
  background-image: url("../assets/icon-folder.svg");
  background-size: 38px;
}

.icon-link.icon-gallery {
  background-image: url("../assets/icon-gallery.svg");
  background-size: 38px;
}

.links-container {
  padding: 25px 0;
  margin-left: 25px;
}

//modal

.modal-head {
  padding: 15px 20px;

  .file-name {
    font-size: 16px;
    display: inline-block;
  }

  .modal-close {
    display: block;
    background-image: url("../assets/close-icon.svg");
    background-size: 20px;
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 5px;
  }
}

.modal-image img {
  width: 100%;
}
