//Digital Service Standard (DSS) colour palette
$DSS-DARK: #19423c;
$DSS-DARK-DESAT: #5d7969;
$DSS-MEDIUM: #3b8d7b;
$DSS-BRIGHT: #99d8e0;
$DSS-LIGHT: #cae9ee;
$DSS-LIGHT-DESAT: #b3c3c4;
$DSS-ACCENT: #f19d23;
$DSS-DISCOVERY: #1e6a9d;
$DSS-ALPHA: #118c7b;
$DSS-BETA: #7b953d;
$DSS-LIVE: #bb770b;
$DSS-PRIMARY: #0f413c;

//Card Variables:
$box-shadow-buttons: 0px 2px 14px 0px #dbdbdb;

//GOVUK Variables:
$active-accent: #0071a8;
$button-colour: #00823b;

//Colour Variables:
$white: #fff;

//Military WebApp Variables:
$primary-blue: #0071a8;
$secondary-blue: #d1ddeb;
$font-grey: #6f6f6f;
$light-grey: #767676;
$dark-grey: #4d4d4d;
$inactive: #c4c4c4;
$page-font: "Open Sans", "Helvetica Neue", sans-serif;
$box-shadow-cards: 0px 3px 18px -3px #999;
