//radio-buttons
.radio-style {
  height: 65px;
  margin-left: 15px;
  font-size: 26px;

  .radio-input {
    appearance: none;
    position: relative;
    top: 12px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background: #fff;
    border: 8px solid #fff;
    box-shadow: 0px 0px 0px 3px #333;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
    outline: none;
    position: relative;
    z-index: 1000;
  }

  .radio-input:hover {
    background: #333;
  }

  .radio-input:checked {
    background: #333;
  }

  .radio-input:checked::after {
    background: #40e0d0;
    content: "";
    display: block;
    position: relative;
    z-index: 100;
  }
  .radio-input.radio {
    border-radius: 50%;
  }
  .radio-input.radio::after {
    border-radius: 50%;
  }
}

//name-fields
