@media only screen and (max-width: 768px) {
    /* Mobile phone size */
    body {
        background-color: rgb(215, 245, 243);
    }

    .Page {
        text-align: center;
    }

    .Card {
        width: 80%;
        background-color: #999999;
        text-align: left;
        display: inline-block;
    }
}